#header{
    width:100%;
    height:120px;
    margin-top: -0.90%;
    background-color:#ffffff;
    border-bottom: 3px solid #2396f3;

}
Body{
    background-color: rgb(218,224,230);
}
@font-face{ /* New font fron google fonts */
    font-family: Roboto-Regular;
    src:url(Roboto-Regular.ttf);}
#logo-img2{
    float:right;
    width:260px;
    padding-right:4%;
    padding-top:0.2%;
}
#logo-img{
    float:left;
     width: 120px;
    padding-top:0%;
    padding-left:8.5%;

    
}
#nav-links li{
    float:left;
    padding-left:70px;
}
#nav-links li a{
   border-bottom: 1px solid rgba(35, 150, 243,0.7);
    display: block;
    padding:14px 95px;
    background-color: #ffffff;
    text-decoration: none;
    color:black;
    text-align: center;
    font-family: Roboto-Regular;
    
}
#nav-links {
   list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
#nav-links  li a:hover {
    background-color:#e0e0e0;
}
#social-media{
    position:fixed;
    top:40%;
    right:0%;
    z-index:2;
}
#social-media ul {
    list-style-type: none;
   padding: 0px;
    margin: 0px;
}
#social-media ul li img{
     width :50px;
    height:50px;
    float: right;

}
.article{
    width:100%;
    background-color: white;
    margin-top:2%;
    margin-bottom:2%;
    text-align: center;
    font-family: 'Cairo';
}
.article img{
    width:60%;
    padding-top:2%;
}
@media (min-width: 481px) and (max-width: 767px) {
 #nav-links{
width: 0px;
    height: 0px;
}
    #header{
        height:250px;
        
    }
    #logo-img{
        width:246px;
    }
    #logo-img2{
        width:500px;
        height:200px;
        padding-top:14px;
        padding-right:0%;
    }
    #social-media ul li img{
     width :120px;
    height:120px;
        float: right;}
     #social-media{
    position:fixed;
    top:39%;
    right:0.6%;
    z-index:2;
}
    .article img{
    width:100%;
    padding-top:0%;
}
    .article{
    width:100%;
    background-color: white;
    margin-top:7%;
    margin-bottom:2%;
    text-align: center;
    font-family: 'Cairo';
}
    .article h1{
        font-weight: 900;
        padding: 5px;
    }
    .article article{
        margin:20px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #nav-links{
width: 0px;
    height: 0px;
}
    #header{
        height:250px;
        
    }
    #logo-img{
        width:246px;
    }
    #logo-img2{
        width:500px;
        height:200px;
        padding-top:14px;
        padding-right:0%;
    }
    #social-media ul li img{
     width :120px;
    height:120px;
        float: right;}
     #social-media{
    position:fixed;
    top:39%;
    right:0.6%;
    z-index:2;
}
    .article img{
    width:100%;
    padding-top:0%;
}
    .article{
    width:100%;
    background-color: white;
    margin-top:7%;
    margin-bottom:2%;
    text-align: center;
    font-family: 'Cairo';
}
    .article h1{
        font-weight: 900;
        padding: 5px;
    }
    .article article{
        margin:20px;
    }
}

